<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">
	</head>
	<body>
		<div class="jumbotron">
			<div class="container">
				{% if businesses %}
				<h1> Try one of these highly recommended restaurants! </h1>
					<div class ="row">
					<h2 style="padding-top:10px;"></h2>	
					{% for business in businesses %}
                    <h2>{{ business.name }} </h2>
                    <img src="{{ business.photo }}" class="img-rounded">
                    <p> Rating: <img src="{{ business.rating }}"> </p>
                    <p> {{ business.review}} </p>
                    <a href="{{ business.url }}"> Visit their wesbite</a>
						{% endfor %}
						
						</div>
					<a href="{{ url_for('index') }}">Look up another address</a>
				{% else %}
					<h1>Hi there! Where would you like to dine?</h1>
					<form action="/" class="form-inline">
						<div class="form-group">
							<input type="text" name="address" placeholder="City, State" class="form-control">
						</div>
							<input type="submit" value="Submit" class="btn btn-primary"	>
						</form>
					{% endif %}
				<a href="{{ url_for('about') }}">About this project</a>
			</div>
		</div>
	</body>
</html>
